@use '../../abstracts' as *;

#projects {
    --p-background-color: hsl(var(--clr-primary-400), 6%);

    background-color: var(--p-background-color); 
    padding-block-end: 4rem;

}

.projects-outer {
    margin-block-end: 7.5rem;
}

