@use '../abstracts' as *;

%btn {
    --p-btn-font-size: #{$fs-btn};
    --p-btn-font-weight: #{$fw-medium};
    --p-btn-padding: 0.75rem 2rem;
    --p-btn-border-radius: 100vh;

    display: inline-block;
    font-size: var(--p-btn-font-size);
    line-height: 1.06666;
    padding: var(--p-btn-padding);
    border-radius: var(--p-btn-border-radius);
    cursor: pointer;
}

.btn-primary {
    @extend %btn;
    --p-btn-color: #{clr(primary)};

    color: var(--p-btn-color);
    border: 2px solid var(--p-btn-color);
    box-shadow: 0px 4px 5px rgba(147, 154, 172, 0.31);

    &:hover, 
    &:focus-visible {
        background-color: clr(primary, base, 0.15);
    }
}

.btn-neutral {
    @extend %btn;
    --p-btn-background: hsl(240, 9%, 89%);
    --p-btn-background-hover: hsl(240, 9%, 82%);

    background-color: var(--p-btn-background);

    &:hover,
    &:focus-visible {
        background-color: var(--p-btn-background-hover);
    }
}

.btn-neutral-lighter {
    @extend %btn;
    background-color: clr(neutral, lighter);
    color: clr(primary);
}






