@use '../abstracts' as *;

%btn {
    --p-btn-font-size: #{$fs-btn};
    --p-btn-font-weight: #{$fw-medium};
    --p-btn-padding: 0.75rem 2rem;
    --p-btn-border-radius: 100vh;

    display: inline-block;
    font-size: var(--p-btn-font-size);
    line-height: 1.06666;
    padding: var(--p-btn-padding);
    border-radius: var(--p-btn-border-radius);
    cursor: pointer;
}

.btn-primary {
    @extend %btn;
    --p-btn-color: #{clr(primary)};

    color: var(--p-btn-color);
    border: 2px solid var(--p-btn-color);
    box-shadow: 0px 4px 5px rgba(147, 154, 172, 0.31);
}

.btn-secondary {
    @extend %btn;
    box-shadow: 0px 0px 4px rgba(147, 154, 172, 0.25);
}

// layout specific styles 
.hero-text .btn-secondary {
    margin-right: 1rem;
}