.card {
    box-shadow: 0 0 0.25rem rgba(59, 59, 69, 0.299);
    border-radius: 0.5rem;
    overflow: hidden;

    &.project-card:hover,
    &.project-card:focus-visible {
        box-shadow: 0 0.5rem 1rem 0.5rem rgba(68, 75, 87, 0.207);
        transform: translateY(-0.5rem);
    }
}
