@use '../abstracts' as *;

.projects-list {
    display: grid;

    @media #{$break1} { gap: 1.5rem; }
    @media #{$break2open} {
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
        gap: 2rem;
        margin-block-start: 2rem;
    }
}

.project-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-block-size: 100%;

    &-text {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-img {
        display: block;
        object-fit: cover;
        border-radius: 0.5rem;
        inline-size: 100%;
        margin-block-end: 1.5rem;
    }

    &-title { font-family: $ff-primary; }
    &-body { margin-block: 0.75rem 2rem; }
}


.projects-list-item {
    border-radius: 0.5rem;

    @media #{$break3open} {
        &:first-child { grid-column: span 2; }
        &:nth-child(1) .project-card-img, &:nth-child(2) .project-card-img { block-size: 296px; }
    }

    &:last-child > .card {
        --p-border-color: hsl(var(--clr-primary-400));

        text-align: center;
        border-block-start: 0.25rem solid var(--p-border-color);
        display: grid;
        row-gap: 1.5rem;
        place-content: center;
        justify-items: center;

        @media #{$break1}, #{$break2} { padding: 4rem; }
    }
}

.project-link {
    &:focus-visible > .card {
        --p-outline-color: hsl(var(--clr-focus));
        
        outline: 0.25rem solid var(--p-outline-color);
        border-radius: 0.25rem;
    }
    &:hover > .card,
    &:focus-visible > .card { 
        box-shadow: 0 0.25rem 1rem 0.5rem hsl(var(--clr-neutral-700), 15%); 
    }
}