@use '../abstracts' as *;

// ----------------------- //
//    TYPOGRAPHY SCALE     //
// ----------------------- //
// $fs-1: 0.75rem;    12px //
// $fs-2: 0.9375rem;  15px //
// $fs-3: 1rem;       16px //
// $fs-4: 1.125rem;   18px //
// $fs-5: 1.5rem;     24px //
// $fs-6: 3rem;       48px //
// $fs-7: 3.5rem;     56px //
// ----------------------- //                       

body {
    font-family: $ff-primary;
    font-size: $fs-body;
    line-height: 1.5;
    color: clr(neutral);
    background-color: clr(neutral, lighter);
}

.heading-xl {
    letter-spacing: 0.08em;

    @media #{$break1}, #{$break2} {
        font-size: $fs-6;
        line-height: 1;
    }
    @media #{$break3open} {
        font-size: $fs-7;
        line-height: 0.875;
    }
    
}

.heading-lg {
    letter-spacing: 0.04em;
    @media #{$break1} {
        font-size: 2.1875rem;
        line-height: 1.142857;
    }
    @media #{$break2open} {
        font-size: 2.5rem;
        line-height: 1.2;
    }
    @media #{$break3open} {
        font-size: $fs-6;
        line-height: 1.16666;
    }
}

.heading-ms {
    font-size: $fs-5;
    line-height: 0.857142;
    letter-spacing: 0.08em;
} 

.heading-sm {
    font-size: $fs-4;
    line-height: 1.33333;
    font-weight: $fw-bold;
} 

.section-title {
    font-family: $ff-secondary;
    color: clr(neutral, dark);

    @media #{$break1} {
        margin-block-end: 3rem;
    }
    @media #{$break2open} {
        margin-block-end: 3.5rem;
    }
    &::after {
        content: '';   
        display: block;
        inline-size: 2.5rem;
        block-size: 0.25rem;
        background-color: clr(primary);
        margin-block-start: 0.75rem;
    }
}