// TYPOGRAPHY
$ff-primary: 'Inter', sans-serif;
$ff-secondary: 'Koulen', sans-serif;

$fs-1: 0.75rem;   // 12px
$fs-2: 0.9375rem; // 15px
$fs-3: 1rem;      // 16px
$fs-4: 1.125rem;  // 18px
$fs-5: 1.5rem;    // 24px
$fs-6: 2rem;      // 32px
$fs-7: 3rem;      // 48px
$fs-8: 3.5rem;    // 56px

$fs-body: $fs-4;
$fs-body-sm: $fs-3;
$fs-btn: $fs-2;

$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;


// SIZING
$size-120: 7.5rem;
$size-144: 9rem;
$size-160: 10rem;


// THEME
$theme-dark: ".theme-dark";

// DISABLED
$disabled: ":disabled, .is-disabled";
