@use '../abstracts' as *;

#footer {
    --p-background-color:  hsl(var(--clr-neutral-300));

    background-color: var(--p-background-color);
    padding-block: 8rem 2.5rem;

    #{$theme-dark} & {
        --p-background-color: hsl(var(--clr-primary-400));
    }
}

.footer-transition {
    --p-transition-color:  hsl(var(--clr-neutral-300));

    color: var(--p-transition-color);

    #{$theme-dark} & {
        --p-transition-color: hsl(var(--clr-primary-400));
    }
}


.l-footer {
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-block: 2rem;
}

.footer-link {
    --p-link-cover-hover: hsl(var(--clr-neutral-700));

    &:is(:hover, :focus-visible) {
        &:where(:not(#{$disabled})) {
            color: var(--p-link-cover-hover);
        }
    }

    #{$theme-dark} & {
        --p-link-cover-hover: hsl(var(--clr-neutral-100));
    }
}