@use '../abstracts' as *;

#navigation {
    // @media #{$break1} {
    //     margin-block-end: 3.5rem; 
    // }
    @media #{$break2open} { 
        margin-block-end: 3.5rem; 
    }
}

.l-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media #{$break1}, #{$break2} { padding-block: 2rem; }
    @media #{$break3open} { padding-block: 2.5rem; }
}

.navigation-actions {
    display: flex;
    align-items: center;

    @media #{$break1} { gap: 1rem; }
    @media #{$break2open} { gap: 2rem; }
}

.navigation-menu {
    display: flex;

    @media #{$break1} { 
        --p-background-color: hsl(var(--clr-neutral-100));

        position: absolute;
        flex-direction: column;
        top: 0;
        right: -16rem;
        max-inline-size: 16rem;
        inline-size: 100%;
        block-size: 100vh;
        background-color: var(--p-background-color);
        padding: 4rem 2.5rem;
        z-index: 100;
        gap: 1rem;
        transition: 0.3s ease-in-out;
        visibility: hidden;
    }

    @media #{$break2open} { 
        gap: 3rem; 
    }

    #{$theme-light} & {
        --p-background-color: hsl(var(--clr-neutral-100));
    }

    #{$theme-dark} & {
        @media #{$break1} {
            --p-background-color: hsl(var(--clr-neutral-700));
        }
    }

    @media #{$prefers-dark} {
        @media #{$break1} {
            --p-background-color: hsl(var(--clr-neutral-700));
        }
    }
}

.navigation-menu.is-open {
    @media #{$break1} {
        right: 0;
        visibility: visible;
    }
}

.navigation-menu-item:last-child {
    @media #{$break2open} { 
        display: none; 
    }
}

.navigation-link {
    --p-text-color-hover: hsl(var(--clr-neutral-700));

    &:is(:hover, :focus-visible) {
        &:where(:not(#{$disabled})) {
            color: var(--p-text-color-hover);
        }
    }

    #{$theme-light} & {
        --p-text-color-hover: hsl(var(--clr-neutral-700));
    }

    #{$theme-dark} & { 
        --p-text-color-hover: hsl(var(--clr-neutral-200)); 
    }

    @media #{$prefers-dark} { 
        --p-text-color-hover: hsl(var(--clr-neutral-200)); 
    }
}


// MENU BUTTONS
#menu-open-btn,
#menu-close-btn {
    cursor: pointer;

    &:is(:focus-visible, :hover) {
        &:where(:not(#{$disabled})) {
            --p-icon-color: hsl(var(--clr-neutral-700));

            color: var(--p-icon-color);

            #{$theme-light} & {
                --p-icon-color: hsl(var(--clr-neutral-700));
            }

            #{$theme-dark} & {
                --p-icon-color: hsl(var(--clr-neutral-100));
            }
        }
    }

    &:is(:focus-visible) {
        &:where(:not(#{$disabled})) {
            --p-outline-color: hsl(var(--clr-focus));

            outline: 0.25rem solid var(--p-outline-color);
            border-radius: 0.25rem;
        }
    }
}

#menu-open-btn {
    @media #{$break2open} { 
        display: none; 
    }
}

#menu-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.icon-menu::before,
.icon-close::before {
    display: block;
    font-size: 2rem;
}