@use '../abstracts' as *;

#skills {
    @include marginBlockEnd($size-120, 10rem, 10rem);
}

.l-skills {
    display: flex;
    align-content: start;

    @media #{$break1}, #{$break2} {
        flex-wrap: wrap;
        justify-content: center;
        gap: 3.5rem;
    }

    @media #{$break2} {
        & > * { flex-basis: 70%; }
    }

    @media #{$break3open} {
        gap: 2rem;
        & > * { flex-basis: 100%; }
    }
}

.skill {
    position: relative;
    text-align: center;
    gap: 1.5rem;
    padding: 4rem 1rem 1.75rem;


    &-icon::before { 
        --p-outline-color: hsl(var(--clr-neutral-200));
        --p-background-color: hsl(var(--clr-primary-400));
        --p-text-color: hsl(var(--clr-neutral-100));
        
        position: absolute;
        font-size: 2.5rem; 
        background-color: var(--p-background-color);
        color: var(--p-text-color);
        border-radius: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        inline-size: 4.5rem;
        block-size: 4.5rem;
        top: -2.25rem;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 0 0 0.5rem var(--p-outline-color);

        #{$theme-dark} & {
            --p-outline-color: hsl(var(--clr-neutral-700));
        }
    }

    &-title { 
        margin-block-end: 0.75rem; 
    }
}