@use '../abstracts' as *;

.overlay-visible::before {
    content: '';
    position: fixed;
    z-index: 100;
    inset: 0;
    background-color: red;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
}

/* if backdrop support: very transparent and blurred */
// @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
//     .overlay-visible::before {
//       background-color: rgba(255, 255, 255, .5);
//       -webkit-backdrop-filter: blur(2em);
//       backdrop-filter: blur(2em);
//     }
//   }