@use '../abstracts' as *;

.toggle {
    --p-border-color: hsl(var(--clr-neutral-700), 70%);
    --p-border-color-hover: hsl(var(--clr-neutral-700));

    position: relative;
    border-radius: 100vw;
    border: 0.0625rem solid var(--p-border-color);
    block-size: 1.25rem;
    inline-size: 2.5rem;
    cursor: pointer;
    display: block;

    &:is(:hover, :focus-visible) {
        &:where(:not(#{$disabled})) {
            border-color:  var(--p-border-color-hover);

            &::before {
                background-color: var(--p-background-color-hover);
            }
        }
    }

    &:is(:focus-visible) {
        &:where(:not(#{$disabled})) {
            --p-outline-color: hsl(var(--clr-focus));

            outline: 0.25rem solid var(--p-outline-color);
            border-radius: 0.25rem;
        }
    }

    #{$theme-light} & {
        --p-border-color: hsl(var(--clr-neutral-700), 70%);
        --p-border-color-hover: hsl(var(--clr-neutral-700));
    }

    #{$theme-dark} & {
        --p-border-color: hsl(var(--clr-neutral-200));
        --p-border-color-hover: hsl(var(--clr-neutral-100));
    }

    @media #{$prefers-dark} {
        --p-border-color: hsl(var(--clr-neutral-200));
        --p-border-color-hover: hsl(var(--clr-neutral-100));
    }



    &::before {
        --p-background-color: hsl(var(--clr-neutral-700), 70%);
        --p-background-color-hover: hsl(var(--clr-neutral-700));

        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        display: block;
        block-size: 1rem;
        inline-size: 1rem;
        border-radius: 100vw;
        background-color: var(--p-background-color);

        #{$theme-light} & {
            --p-background-color: hsl(var(--clr-neutral-700), 70%);
            --p-background-color-hover: hsl(var(--clr-neutral-700));
        }

        #{$theme-dark} & {
            --p-background-color: hsl(var(--clr-neutral-200));
            --p-background-color-hover: hsl(var(--clr-neutral-100));
        }

        @media #{$prefers-dark} {
            --p-background-color: hsl(var(--clr-neutral-200));
            --p-background-color-hover: hsl(var(--clr-neutral-100));
        }
    }




    &:checked {
        --p-background-color: 112, 89%, 68%;

        background-color: hsl(var(--p-background-color));

        &::before {
            left: calc(100% - 1rem - 1px);
        }
    }
}